n8n/content-creator-persona-und-notion.json
{
  "name": "content-creator-persona-und-notion",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('setzeLoopWerte').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1312,
        992
      ],
      "id": "4d7f6d86-7326-4a5e-b43d-440c28ff7827",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -528,
        304
      ],
      "id": "5f5f895f-e2db-4aab-8914-1d7805eacc5b",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        768,
        384
      ],
      "id": "03b435fa-2c84-4b4d-b547-7662ded64bcd",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "content": "##  Bewertung durch Persona\n- Entwurf durch Persona bewerten\n- Feedback in den Loop einfliessen lassen\n- Loop-Zähler addieren um endlos-Arbeit zu verhindern",
        "height": 1580,
        "width": 1460
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1648,
        0
      ],
      "typeVersion": 1,
      "id": "75c665f1-a4ef-40d2-b314-ff5aacb3ce87",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Entwurfs-Phase\n- Daten für Entwurf entgegennehmen\n- Entwurf berücksichtigt Brand-Voice / Guides\n- Verwendet Feedback aus vorheriger Iteration, falls vorhanden",
        "height": 1580,
        "width": 1640,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "7c6f80d4-57bc-47d1-9454-a3bc948933cc",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Bild generieren und Entwurf in Notion sichern\n",
        "height": 1580,
        "width": 2088,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3120,
        0
      ],
      "typeVersion": 1,
      "id": "d034fa87-1345-4200-912d-139751d8795d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1040,
        192
      ],
      "id": "dfec1529-700f-473c-9f8f-e87b82260845",
      "name": "finished 🏁"
    },
    {
      "parameters": {
        "inputMarkdown": "={{ $json.output.post_content }}",
        "outputKey": "children"
      },
      "type": "n8n-nodes-notion-markdown.notionMarkdown",
      "typeVersion": 1,
      "position": [
        3904,
        368
      ],
      "id": "d509c886-1284-4dac-b904-a9b7efe2c6b8",
      "name": "Notion Markdown"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4288,
        368
      ],
      "id": "b96225df-e876-42c2-a0ab-8cf1a0b21551",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "XonTM8BrVR99Y3km",
          "name": "tavily-NBO"
        },
        "httpCustomAuth": {
          "id": "XqdSKjLZQhddBUV5",
          "name": "notion"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Code node to properly structure the data\nconst item = $input.first().json;\nconst timestamp = $now.toISO();\n\nconst payload = {\n  parent: {\n    database_id: \"20dcc919-994b-803b-89f5-ed5c90b40978\"\n  },\n  icon: {\n    emoji: \"💡\"\n  },\n  properties: {\n    Titel: {\n      title: [\n        {\n          text: {\n            content: item.children[0]?.paragraph?.rich_text[0]?.text?.content || \"kein Titel\"\n          }\n        }\n      ]\n    },\n    idea_id: {\n      number: 999,\n    },\n    creationDate: {\n    \"date\": {\n      \"start\": timestamp\n    }\n    },\n    Reason: {\n      rich_text: [\n        {\n          text: {\n            content: \"-\"\n          }\n        }\n      ]\n    }\n  },\n  children: item.children \n};\n\nreturn { json: payload };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4096,
        368
      ],
      "id": "59ad8c62-e31c-4479-bbf1-2152a61668e0",
      "name": "prepareDatabasePage"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "03b2fbad-2b5c-41ce-b34f-6abde65cc9cc",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -208,
        672
      ],
      "id": "b3bc61c0-bda3-406f-a371-58fdb11335dd",
      "name": "Webhook",
      "webhookId": "03b2fbad-2b5c-41ce-b34f-6abde65cc9cc",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        544,
        384
      ],
      "id": "cd74dd4e-617b-47a8-a972-a644f6580407",
      "name": "Limit"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        192,
        384
      ],
      "id": "453430de-3f19-48ab-b10a-0f6b03619f7f",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "aa2156ee-2b0b-4734-bb9c-682619094b14",
              "leftValue": "={{ $json.output.rating }}",
              "rightValue": 9,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0392b058-00df-440b-9f0b-e5f23ae899f4",
      "name": "rating-erreicht",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3456,
        608
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3680,
        592
      ],
      "id": "22e2d7f5-a08c-4691-b2b0-bfe1bab0a030",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4480,
        576
      ],
      "id": "48f39e42-d87a-43b7-9470-51ccb9be1d25",
      "name": "Merge1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/file_uploads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filename\": \"{{ $now.toLocal().format('yyyy-MM-dd-HHmmss')}}-notion-content-creator-image.png\",\n  \"content_type\": \"image/png\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4064,
        592
      ],
      "id": "efd5ba70-8f10-4d4f-8598-1e414235ef79",
      "name": "prepare-file-upload",
      "credentials": {
        "httpBearerAuth": {
          "id": "XonTM8BrVR99Y3km",
          "name": "tavily-NBO"
        },
        "httpCustomAuth": {
          "id": "XqdSKjLZQhddBUV5",
          "name": "notion"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-image (Nano Banana)"
        },
        "prompt": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        4240,
        816
      ],
      "id": "33012a7f-a57c-4061-be47-2f1b84dc89d5",
      "name": "nanoBanana",
      "credentials": {
        "googlePalmApi": {
          "id": "ZvH01apH7z0jdS2L",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "Erstelle einen Nano-Banana Prompt, welcher die vom Benutzer eingegebene Content-Idee optimal bildlich umsetzt. \nGib ausschliesslich den Bild-Prompt zurück, keine Kommentare oder andere Ergänzungen!\n",
              "role": "model"
            },
            {
              "content": "={{ $json.output.post_content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        3936,
        816
      ],
      "id": "e170b1ca-f954-4bec-882f-f179e5391ea4",
      "name": "Bild-Prompt",
      "credentials": {
        "googlePalmApi": {
          "id": "ZvH01apH7z0jdS2L",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.upload_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4656,
        592
      ],
      "id": "4f3d6109-da30-4584-bd66-11392895b638",
      "name": "upload-image",
      "credentials": {
        "httpBearerAuth": {
          "id": "XonTM8BrVR99Y3km",
          "name": "tavily-NBO"
        },
        "httpCustomAuth": {
          "id": "XqdSKjLZQhddBUV5",
          "name": "notion"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/blocks/{{ $('HTTP Request').item.json.id }}/children",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"children\": [\n    {\n      \"type\": \"image\",\n      \"image\": {\n        \"type\": \"file_upload\",\n        \"file_upload\": {\n          \"id\": \"{{ $json.id }}\"\n        },\n        \"caption\": []\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4832,
        864
      ],
      "id": "f9f93854-5170-4c7d-bf69-f50806e905cb",
      "name": "attachImage",
      "retryOnFail": true,
      "waitBetweenTries": 2500,
      "credentials": {
        "httpBearerAuth": {
          "id": "XonTM8BrVR99Y3km",
          "name": "tavily-NBO"
        },
        "httpCustomAuth": {
          "id": "XqdSKjLZQhddBUV5",
          "name": "notion"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4816,
        1264
      ],
      "id": "1a60edbd-cdbd-4cfe-b76d-aabad4f1962a",
      "name": "wf-cosmetic"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aeb2fb90-bd67-407c-81b0-c403442e09b4",
              "name": "post_content",
              "value": "Social media ist tot",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        304
      ],
      "id": "4c8f49cb-ce91-457c-8f3d-bab5fb83b18b",
      "name": "test-thema"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6f36ec04-acfd-4377-b424-d742e9fd3bea",
              "leftValue": "={{ $json.iteration }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3344,
        1152
      ],
      "id": "f61a9fb3-f9de-4553-97d9-43e69df2a0a6",
      "name": "maxIteration"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3248,
        608
      ],
      "id": "ee007bac-2b5b-4e12-b568-3095ba302168",
      "name": "MergeDraft"
    },
    {
      "parameters": {
        "amount": 2.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4832,
        592
      ],
      "id": "d76ab82b-6b1d-4248-bdf2-b811d22bd61e",
      "name": "Wait",
      "webhookId": "931855a5-a90e-4de3-b170-d3d0d18af4ba"
    },
    {
      "parameters": {
        "name": "brand_briefing",
        "description": "Verwende dieses Tool um die \"KI Power Swiss\" Brand Briefing Guidelines abzufragen.",
        "workflowId": {
          "__rl": true,
          "value": "hlk1YVWh9zKIifgM",
          "mode": "list",
          "cachedResultUrl": "/workflow/hlk1YVWh9zKIifgM",
          "cachedResultName": "brand-brief-kipower"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1456,
        992
      ],
      "id": "9ec961f6-0270-4d9a-8c6c-924c97a0f873",
      "name": "brand_briefing"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3",
          "mode": "list",
          "cachedResultName": "o3"
        },
        "options": {
          "maxRetries": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1152,
        992
      ],
      "id": "8ec11f9a-7b91-4c14-b809-5ffa4e2003fc",
      "name": "OpenAI o3",
      "credentials": {
        "openAiApi": {
          "id": "UTavwChCwTVI6jVK",
          "name": "OpenAi-KI-Power"
        }
      }
    },
    {
      "parameters": {
        "name": "get_persona",
        "description": "persona-briefing / character abrufen",
        "workflowId": {
          "__rl": true,
          "value": "QDUOZWAnHdUbnV0a",
          "mode": "list",
          "cachedResultUrl": "/workflow/QDUOZWAnHdUbnV0a",
          "cachedResultName": "content-persona-lara-lightning"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        2176,
        912
      ],
      "id": "ab0e42e5-ac7b-4e92-aa67-4322d882ec3d",
      "name": "persona-briefing"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "maxRetries": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1824,
        912
      ],
      "id": "ca41f8b2-b053-4f90-abae-f3d1917863fd",
      "name": "openAI gpt-4",
      "credentials": {
        "openAiApi": {
          "id": "UTavwChCwTVI6jVK",
          "name": "OpenAi-KI-Power"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('setzeLoopWerte').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2016,
        912
      ],
      "id": "6ebce32a-3a64-4f31-a51b-62d3ca592284",
      "name": "persona-hirn"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"post_content\": \"...\",\n\t\"rating\": 1,\n     \"was_spricht_an\": \"...\",\n     \"was_fehlt\": \"...\",\n     \"verbesserung\": \"...\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2368,
        928
      ],
      "id": "cb633a3e-5860-4ef0-b5aa-49c6af9ef35c",
      "name": "strukturierte-ausgabe-sicherstellen"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2304,
        1072
      ],
      "id": "83ab34ae-13ae-4bf6-8d05-5479e4194bb7",
      "name": "gpt-mini-strukturparser",
      "credentials": {
        "openAiApi": {
          "id": "RMlTZ1OyZEHJNLh8",
          "name": "default-openAI-NBO"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "83a246b7-cdc8-4291-a8fd-c14c90046d12",
              "name": "iteration",
              "value": "={{ $('setzeLoopWerte').item.json.iteration + 1 }}",
              "type": "number"
            },
            {
              "id": "efc5f327-cdd0-4d64-b2a4-a1f0567b3676",
              "name": "idea_id",
              "value": 999,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2800,
        688
      ],
      "id": "47060eb5-c168-4bf5-a9b0-040f58945278",
      "name": "setErgebnis"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "357f9e3f-7b9e-4113-9251-ba96f7f327a7",
              "name": "message",
              "value": "={{ $json.output.post_content ?? $json.post_content }}",
              "type": "string"
            },
            {
              "id": "8ac68cfb-120a-4ab5-8a9d-136e81cbcb43",
              "name": "sessionId",
              "value": "={{ Math.random().toString(36).substring(2, 10) + Date.now().toString(36) }}",
              "type": "string"
            },
            {
              "id": "7c6ea2fb-46ae-4f8c-b79a-c6597ea7d141",
              "name": "iteration",
              "value": "={{ $json.iteration ?? 0 }}",
              "type": "number"
            },
            {
              "id": "2d91d98f-d075-42d4-9823-f4568b3ae4c7",
              "name": "feedback",
              "value": "={{ $json.output ?? {} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        400
      ],
      "id": "1d3e1946-36b8-4ba2-8043-eb15b8bf9d89",
      "name": "setzeLoopWerte"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Post:\n{{ $json.message }}\n\n{{ $json.feedback ? '## Post-Feedback:' : '' }} \n{{ $json.feedback ? '### Was spricht an:' : '' }} \n{{ $json.feedback.was_spricht_an }}\n{{ $json.feedback ? '### Was fehlt:' : '' }} \n{{ $json.feedback.was_fehlt }}\n{{ $json.feedback ? '### Verbesserung:' : '' }} \n{{ $json.feedback.verbesserung }}",
        "options": {
          "systemMessage": "=## Rolle\nDu bist Content-Creator für \"KI Power Swiss\". Deine Aufgabe ist es, hochwertige, performante LinkedIn-Posts im Markenstil zu erstellen.\n\nDas aktuelle Jahr ist {{ $now.format('yyyy')}}.\nErwähne kein anderes Jahr, ausser bei einem direkten Vergleich mit {{ $now.format('yyyy')}}.\n\n## Ablauf (immer strikt einhalten)\n1. Lade über das Tool `brand_briefing` die vollständige Markenstimme, Richtlinien & Schreibparameter.\n2. Analysiere das Thema bzw. den Input.\n3. Erstelle einen LinkedIn-Post-Entwurf, der den Brand-Richtlinien exakt entspricht.\n4. Falls Feedback vorhanden ist, verbessere den Post **ausschliesslich anhand dieses Feedbacks**.\n\n## Marken-Regeln\n- Ton, Stimme und Format strikt gemäss Brand-Brief.\n- Schreibe klar, energievoll, professionell, konkret und nutzenorientiert.\n- Verwende starke Hooks, klare Struktur, präzise Sätze, klare CTA wenn passend.\n- Falls externe Fakten benötigt werden → benutze vorab das Recherche-Tool.\n- Keine Backticks.\n- Keine Meta-Kommentare oder Erklärtexte.\n- Keine Systemhinweise.\n- Keine Fragen stellen. Arbeite nur mit vorhandenem Input.\n- Alle Anführungszeichen im Textkörper escapen.\n- Fokus: Klarheit, Präzision, Wert, Lesbarkeit, Wirkung.\n- LinkedIn-taugliche Formatierung gemäss Brand-Brief (Spacing, Emojis, Struktur etc.).\n\n## Ziel\nErstelle LinkedIn-Posts, die:\n- Thought-Leadership ausstrahlen\n- die Marke stärken\n- Interaktionen fördern\n- merkbaren Mehrwert liefern\n\n## Ausgabeformat\n- Gib ausschliesslich den fertigen LinkedIn-Post aus.\n- Keine Erklärungen, kein Zusatztext."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1296,
        688
      ],
      "id": "33f785b0-700e-4c96-9b44-e2d8eba3ef9b",
      "name": "Content-Creator",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Idee:\n{{ $json.output }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Rolle\nDu bewertest die vorgeschlagene Idee **ausschliesslich aus Sicht dieser Persona**:\n\n---\n\n## 🎭 Persona\n\nDu bist **Lara “Lightning-Launch” Keller**, 38, CEO & Marketing-Lead eines Schweizer B2B-Tech-Startups.\n\nDu handelst wie jemand, der:\n\n- ROI und Wachstumshebel über Gefallen stellt  \n- Null Geduld hat für Marketing-Blabla, Hypetrain und Worthuelsen  \n- Nur investiert, wenn ein klarer, messbarer Impact sichtbar ist  \n- Experimentieren > theoretisieren lebt  \n- Geschwindigkeit liebt, aber blindes Rennen hasst  \n\nDein Motto:  \n**„Ich investiere keine Sekunde in Ideen ohne Traktionspotenzial.“**\n\nDein mentaler Filter:  \n> „Beweise. Zahlen. Relevanz. Oder raus.“\n\n---\n\n## Bewertungslogik\n\nAnalysiere jede Idee brutal ehrlich entlang dieser Dimensionen:\n\n1) **🎯 Strategische Passung**  \nZahlt klar ein auf:\n- Schneller klueger handeln  \n- Beweise statt Bauchgefuehl  \n- Wachstum durch Experimente  \n\n2) **⚙️ Umsetzbarkeit**  \nLean, schnell testbar, kein Overhead. Realistisch fuer kleines Team.\n\n3) **📈 Messbarkeit**  \nKonkrete Hypothese, klare KPIs, Lernwert ersichtlich.\n\n4) **⚡ Differenzierung**  \nHebt sich von LinkedIn-Noise ab? Kein generischer Marketingbrei.\n\n5) **🧩 Verbesserung**  \nWie wird die Idee schärfer, effizienter, klarer?\n\nTon: **direkt, schnörkellos, strategie- und zahlenfokussiert.**  \nWenn unklar: **„Zu vage. Beweis fehlt.“**  \nWenn generisch: **„Klingt wie LinkedIn-Fuellstoff.“**  \nKeine Nettigkeit um der Nettigkeit willen.\n\n---\n\n## Antwortformat\n\n### ⭐ RATING: [1–10]/10\n\n- 2 = Weg damit. Zeitverschwendung.  \n- 4 = Meh. Wuerde ich weiter scrollen.  \n- 6 = Sandbox – Potenzial, aber roh.  \n- 8 = Stark, fast investierbar.  \n- 10 = Budget sofort freigegeben.\n\n**1. Erste Reaktion**  \nKurzer, ehrlicher Impuls.\n\n**2. Aufmerksamkeit** *(Ja / Nein / Vielleicht)*\n\n**3. Was spricht mich an**  \nKurz, konkret.\n\n**4. Was fehlt / stoert**  \nRisiken, Red Flags, Zweifel, fehlende Messbarkeit.\n\n**5. Verbesserungsvorschlag**  \nPraezise, messbarer, spezifischer Value.\n\n---\n\n## Output-JSON\n\n```json\n{\n \"content_idee\": \"...\",\n \"rating\": X,\n \"was_spricht_an\": \"...\",\n \"was_fehlt\": \"...\",\n \"verbesserung\": \"...\"\n}",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        2080,
        688
      ],
      "id": "c08584fe-92aa-4825-ad5d-437168cf294a",
      "name": "Persona-Agent",
      "retryOnFail": true,
      "maxTries": 5
    }
  ],
  "pinData": {
    "Webhook": []
  },
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Content-Creator",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "test-thema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "finished 🏁",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "setzeLoopWerte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Markdown": {
      "main": [
        [
          {
            "node": "prepareDatabasePage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepareDatabasePage": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rating-erreicht": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "maxIteration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing2": {
      "main": [
        [
          {
            "node": "Bild-Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notion Markdown",
            "type": "main",
            "index": 0
          },
          {
            "node": "prepare-file-upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "upload-image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare-file-upload": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "nanoBanana": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Bild-Prompt": {
      "main": [
        [
          {
            "node": "nanoBanana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload-image": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "attachImage": {
      "main": [
        [
          {
            "node": "wf-cosmetic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wf-cosmetic": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "test-thema": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "maxIteration": {
      "main": [
        [
          {
            "node": "setzeLoopWerte",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MergeDraft": {
      "main": [
        [
          {
            "node": "rating-erreicht",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "attachImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "brand_briefing": {
      "ai_tool": [
        [
          {
            "node": "Content-Creator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI o3": {
      "ai_languageModel": [
        [
          {
            "node": "Content-Creator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "persona-briefing": {
      "ai_tool": [
        [
          {
            "node": "Persona-Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "openAI gpt-4": {
      "ai_languageModel": [
        [
          {
            "node": "Persona-Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "persona-hirn": {
      "ai_memory": [
        [
          {
            "node": "Persona-Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "strukturierte-ausgabe-sicherstellen": {
      "ai_outputParser": [
        [
          {
            "node": "Persona-Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "gpt-mini-strukturparser": {
      "ai_languageModel": [
        [
          {
            "node": "strukturierte-ausgabe-sicherstellen",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "setErgebnis": {
      "main": [
        [
          {
            "node": "MergeDraft",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "setzeLoopWerte": {
      "main": [
        [
          {
            "node": "Content-Creator",
            "type": "main",
            "index": 0
          },
          {
            "node": "MergeDraft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content-Creator": {
      "main": [
        [
          {
            "node": "Persona-Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persona-Agent": {
      "main": [
        [
          {
            "node": "setErgebnis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "707d44a5-8dfd-4df4-9f53-1c857810275a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7000b643921dab8bd21fd7fd625975bff66c2abcec80f5b011797753216c8f46"
  },
  "id": "lKIgjRI2GF6wWVKT",
  "tags": []
}