n8n/content-creator-persona-google.json
{
  "name": "content-creator-persona-google",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('setzeLoopWerte').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1184,
        992
      ],
      "id": "4708c447-315d-4235-af2b-28a3ccaaf279",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        240
      ],
      "id": "f564e409-e89b-451c-b877-18682e9e6e25",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        384
      ],
      "id": "ce81dc66-b206-4135-a6ff-7b299303aa38",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "content": "#  Entwurf von Persona bewerten lassen\n- Entwurf durch Persona bewerten\n- Feedback in den Loop einfliessen lassen\n- Loop-Zähler addieren um endlos-Arbeit zu verhindern",
        "height": 1580,
        "width": 1460
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1648,
        0
      ],
      "typeVersion": 1,
      "id": "016ab726-9f20-4c08-8577-f0b6c8f85190",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Entwurfs-Phase\n- Daten für Entwurf entgegennehmen\n- Entwurf berücksichtigt Brand-Voice / Guides\n- Verwendet Feedback aus vorheriger Iteration, falls vorhanden",
        "height": 1580,
        "width": 1256,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        0
      ],
      "typeVersion": 1,
      "id": "f4c2c1e2-7d87-476a-a3b5-bfca6aa7b97c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Bild generieren und Daten speichern\n- Auf Basis des neuen Post einen NanoBanana-Prompt erstellen\n- Bild generieren \n- Bild in Google-Drive hochladen und mit Post in der Tabelle sichern\n",
        "height": 1580,
        "width": 2088,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3120,
        0
      ],
      "typeVersion": 1,
      "id": "ebd3f106-c779-4bed-8686-b1bea83f1055",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5792d081-4754-4a86-9357-5daeef85fb6c",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -240,
        848
      ],
      "id": "377bd47d-48fe-4b75-a0b8-66c19c775350",
      "name": "Webhook",
      "webhookId": "5792d081-4754-4a86-9357-5daeef85fb6c",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "aa2156ee-2b0b-4734-bb9c-682619094b14",
              "leftValue": "={{ $json.output.rating }}",
              "rightValue": 9,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1e7cca1-8649-4e19-b7c3-f5ad3a3aa828",
      "name": "rating-erreicht",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3504,
        608
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3728,
        592
      ],
      "id": "8cc5ac34-35ed-4115-bc8c-0f51b4d882db",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-image (Nano Banana)"
        },
        "prompt": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        4256,
        592
      ],
      "id": "1f7a57f7-f77e-4a41-a564-69541a3ab8eb",
      "name": "nanoBanana",
      "credentials": {
        "googlePalmApi": {
          "id": "ZvH01apH7z0jdS2L",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "Erstelle einen Nano-Banana Prompt, welcher die vom Benutzer eingegebene Content-Idee optimal bildlich umsetzt. \nGib ausschliesslich den Bild-Prompt zurück, keine Kommentare oder andere Ergänzungen!\n",
              "role": "model"
            },
            {
              "content": "={{ $json.output.post_content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        3904,
        592
      ],
      "id": "7158bc3d-1ae6-440a-9e33-17d9b07a9de2",
      "name": "Bild-Prompt",
      "credentials": {
        "googlePalmApi": {
          "id": "ZvH01apH7z0jdS2L",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4928,
        1264
      ],
      "id": "b4644a7d-b42b-4eca-beb2-4e043429b268",
      "name": "wf-cosmetic"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aeb2fb90-bd67-407c-81b0-c403442e09b4",
              "name": "post_content",
              "value": " n8n-Workflows mit GPT Atlas bauen",
              "type": "string"
            },
            {
              "id": "c104ada0-6b64-4250-a5de-40775879ab66",
              "name": "row_number",
              "value": "2",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        240
      ],
      "id": "99bad503-6712-45be-b93c-b57afae852ab",
      "name": "test-thema"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6f36ec04-acfd-4377-b424-d742e9fd3bea",
              "leftValue": "={{ $json.iteration }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3392,
        1152
      ],
      "id": "0470998e-7651-4561-8b6f-eff3ab59957e",
      "name": "maxIteration"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3296,
        608
      ],
      "id": "854a62cc-8935-4768-bf0d-0dd88ab62a7d",
      "name": "MergeDraft"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3",
          "mode": "list",
          "cachedResultName": "o3"
        },
        "options": {
          "maxRetries": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1024,
        992
      ],
      "id": "6050c69d-c18f-47cd-8243-c4e6fa694326",
      "name": "OpenAI o3",
      "credentials": {
        "openAiApi": {
          "id": "UTavwChCwTVI6jVK",
          "name": "OpenAi-KI-Power"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "maxRetries": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1824,
        912
      ],
      "id": "bfc45df6-676b-41aa-8e00-aa8a1f827809",
      "name": "openAI gpt-4",
      "credentials": {
        "openAiApi": {
          "id": "UTavwChCwTVI6jVK",
          "name": "OpenAi-KI-Power"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('setzeLoopWerte').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2016,
        912
      ],
      "id": "c483a463-b0cd-4a6d-a757-efd727c9075a",
      "name": "persona-hirn"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2304,
        1072
      ],
      "id": "3bebb5ef-11ea-48ed-a1ed-092b13f7144b",
      "name": "gpt-mini-strukturparser",
      "credentials": {
        "openAiApi": {
          "id": "RMlTZ1OyZEHJNLh8",
          "name": "default-openAI-NBO"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "83a246b7-cdc8-4291-a8fd-c14c90046d12",
              "name": "iteration",
              "value": "={{ $('setzeLoopWerte').item.json.iteration + 1 }}",
              "type": "number"
            },
            {
              "id": "efc5f327-cdd0-4d64-b2a4-a1f0567b3676",
              "name": "idea_id",
              "value": 999,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2800,
        688
      ],
      "id": "8d30d0dc-173b-4f0c-aa5b-41e4c1a7c76e",
      "name": "setErgebnis"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "357f9e3f-7b9e-4113-9251-ba96f7f327a7",
              "name": "message",
              "value": "={{ $json.output.post_content ?? $json.post_content }}",
              "type": "string"
            },
            {
              "id": "8ac68cfb-120a-4ab5-8a9d-136e81cbcb43",
              "name": "sessionId",
              "value": "={{ Math.random().toString(36).substring(2, 10) + Date.now().toString(36) }}",
              "type": "string"
            },
            {
              "id": "7c6ea2fb-46ae-4f8c-b79a-c6597ea7d141",
              "name": "iteration",
              "value": "={{ $json.iteration ?? 0 }}",
              "type": "number"
            },
            {
              "id": "2d91d98f-d075-42d4-9823-f4568b3ae4c7",
              "name": "feedback",
              "value": "={{ $json.output ?? {} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        400
      ],
      "id": "d2a4d152-4a51-4179-9895-f27a56030af1",
      "name": "setzeLoopWerte"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Post:\n{{ $json.message }}\n\n{{ $json.feedback ? '## Post-Feedback:' : '' }} \n{{ $json.feedback ? '### Was spricht an:' : '' }} \n{{ $json.feedback.was_spricht_an }}\n{{ $json.feedback ? '### Was fehlt:' : '' }} \n{{ $json.feedback.was_fehlt }}\n{{ $json.feedback ? '### Verbesserung:' : '' }} \n{{ $json.feedback.verbesserung }}",
        "options": {
          "systemMessage": "=## Rolle\nDu bist Content-Creator für \"KI Power Swiss\". Deine Aufgabe ist es, hochwertige, performante LinkedIn-Posts im Markenstil zu erstellen.\n\nDas aktuelle Jahr ist {{ $now.format('yyyy')}}.\nErwähne kein anderes Jahr, ausser bei einem direkten Vergleich mit {{ $now.format('yyyy')}}.\n\n## Ablauf (immer strikt einhalten)\n1. Lade über das Tool `brand_briefing` die vollständige Markenstimme, Richtlinien & Schreibparameter.\n2. Analysiere das Thema bzw. den Input.\n3. Erstelle einen LinkedIn-Post-Entwurf, der den Brand-Richtlinien exakt entspricht.\n4. Falls Feedback vorhanden ist, verbessere den Post **ausschliesslich anhand dieses Feedbacks**.\n\n## Marken-Regeln\n- Ton, Stimme und Format strikt gemäss Brand-Brief.\n- Schreibe klar, energievoll, professionell, konkret und nutzenorientiert.\n- Verwende starke Hooks, klare Struktur, präzise Sätze, klare CTA wenn passend.\n- Falls externe Fakten benötigt werden → benutze vorab das Recherche-Tool.\n- Keine Backticks.\n- Keine Meta-Kommentare oder Erklärtexte.\n- Keine Systemhinweise.\n- Keine Fragen stellen. Arbeite nur mit vorhandenem Input.\n- Alle Anführungszeichen im Textkörper escapen.\n- Fokus: Klarheit, Präzision, Wert, Lesbarkeit, Wirkung.\n- LinkedIn-taugliche Formatierung gemäss Brand-Brief (Spacing, Emojis, Struktur etc.).\n\n## Ziel\nErstelle LinkedIn-Posts, die:\n- Thought-Leadership ausstrahlen\n- die Marke stärken\n- Interaktionen fördern\n- merkbaren Mehrwert liefern\n\n## Ausgabeformat\n- Gib ausschliesslich den fertigen LinkedIn-Post aus.\n- Keine Erklärungen, kein Zusatztext."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1168,
        688
      ],
      "id": "b19aeb2c-3f80-439d-be9e-34db90f0d39f",
      "name": "Content-Creator",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Idee:\n{{ $json.output }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Vorgehen (immer einhalten)\n- hole die Persona aus dem \"persona-briefing\"-Tool \n- Du bewertest die vorgeschlagene Idee **ausschliesslich aus Sicht dieser Persona**\n\n---\n\n## Antwortformat\n\n### ⭐ RATING: [1–10]/10\n\n- 2 = Weg damit. Zeitverschwendung.  \n- 4 = Meh. Wuerde ich weiter scrollen.  \n- 6 = Sandbox – Potenzial, aber roh.  \n- 8 = Stark, fast investierbar.  \n- 10 = Budget sofort freigegeben.\n\n**1. Erste Reaktion**  \nKurzer, ehrlicher Impuls.\n\n**2. Aufmerksamkeit** *(Ja / Nein / Vielleicht)*\n\n**3. Was spricht mich an**  \nKurz, konkret.\n\n**4. Was fehlt / stoert**  \nRisiken, Red Flags, Zweifel, fehlende Messbarkeit.\n\n**5. Verbesserungsvorschlag**  \nPraezise, messbarer, spezifischer Value.\n\n---\n\n## Output-JSON\n\n```json\n{\n \"content_idee\": \"...\",\n \"rating\": X,\n \"was_spricht_an\": \"...\",\n \"was_fehlt\": \"...\",\n \"verbesserung\": \"...\"\n}",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        2080,
        688
      ],
      "id": "5215d709-d6b6-466a-bd95-828c7464e0a5",
      "name": "Persona-Agent",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/19vbFrZVzzAVRou1LcqMyTyeJ8gW8la2UtMbiOHxCboQ/edit?gid=1811017181#gid=1811017181",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1811017181,
          "mode": "list",
          "cachedResultName": "content-creator-n8n-trigger",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19vbFrZVzzAVRou1LcqMyTyeJ8gW8la2UtMbiOHxCboQ/edit#gid=1811017181"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        560
      ],
      "id": "f3c7e85b-424c-4ed9-be36-e35ffc07cf89",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "ppml97p7HR5PF44o",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Verwende dieses Tool um die \"KI Power Swiss\" Brand Briefing Guidelines abzufragen.",
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1r3sHIfolwUx6-cNhbGfN0CjOj8ts0z3fDZRmslUniZQ/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        1360,
        992
      ],
      "id": "23db040d-8679-4dbc-a62b-c407385dd766",
      "name": "brand_briefing",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ZX7EZKA9KmE8XFRE",
          "name": "NBO"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "persona-briefing / character abrufen",
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1FrB3NQYytdaCGz8BU4PfiPhv5KmkzABDZUIdiD5OXJk/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        2176,
        928
      ],
      "id": "de96dbf8-6c92-46c4-85ba-4fa2e18ccc0a",
      "name": "persona-briefing",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ZX7EZKA9KmE8XFRE",
          "name": "NBO"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        912,
        192
      ],
      "id": "8efff0a7-8e36-46e7-a183-e6366b182fc3",
      "name": "fertig, oder ..? 🏁"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.googleapis.com/v1/spaces/AAAARaRnlns/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=tu3QP1Bz3cr1tx8dgcR5X2VG8GlEeOzonvdnl2Qlvpw",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": " Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=*Ein neues Content-Kunstwerk ist vollendet!"
            }
          ]
        },
        "options": {}
      },
      "id": "6b7d004f-17fa-4ad7-acfe-a25e8e1249e2",
      "name": "google-chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        192
      ],
      "notesInFlow": true,
      "notes": "Workspace Chat"
    },
    {
      "parameters": {
        "name": "={{ $now.toLocal().format('yyyy-MM-dd-HHmmss') }}-content-creator-google.png",
        "driveId": {
          "__rl": true,
          "value": "0AGR_Ikmf4x5pUk9PVA",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/0AGR_Ikmf4x5pUk9PVA"
        },
        "folderId": {
          "__rl": true,
          "value": "1rNOewhgB0_7no7To-KoHqQD1hV78Py2x",
          "mode": "list",
          "cachedResultName": "markom-automation",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rNOewhgB0_7no7To-KoHqQD1hV78Py2x"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4464,
        592
      ],
      "id": "3f43c080-ba8f-451a-a8f3-5331b97ff121",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PzZ8PrunplRVZluH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/19vbFrZVzzAVRou1LcqMyTyeJ8gW8la2UtMbiOHxCboQ/edit?gid=1811017181#gid=1811017181",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1811017181,
          "mode": "list",
          "cachedResultName": "content-creator-n8n-trigger",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19vbFrZVzzAVRou1LcqMyTyeJ8gW8la2UtMbiOHxCboQ/edit#gid=1811017181"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Bild-Idee": "={{ $json.webViewLink }}",
            "Post-Entwurf": "={{ $('rating-erreicht').item.json.output.post_content }}",
            "Status": "ENTWURF",
            "row_number": "={{ $('bereit?').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Idee",
              "displayName": "Idee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post-Entwurf",
              "displayName": "Post-Entwurf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bild-Idee",
              "displayName": "Bild-Idee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4672,
        592
      ],
      "id": "1cf0d6c0-1d5e-415b-bfbc-619d8966bd75",
      "name": "Idee-mit-Vorschlag-aktualisieren",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YgMWqSuGdjiblmOo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        240,
        384
      ],
      "id": "15c3f4e0-d0b3-4228-a4dd-bfcea6f9e146",
      "name": "bereit?"
    },
    {
      "parameters": {
        "content": "# Eingänge / Trigger für den Workflow\n- **Manuell**: gut für Tests und Verfeinerungen\n- **Trigger**: neue Zeile in einem Google-Sheet (oder Notion-Datenbank)\n- **Webhook**: ausgelöst von einem externe nDritt-Tool (z.B. Aktion eines CustomGPT)\n",
        "height": 1580,
        "width": 888,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        0
      ],
      "typeVersion": 1,
      "id": "4dff7f04-3ee4-4b4d-9953-cc4e563ecd8e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dbe2a7ed-0936-447f-8094-1d8ada329efb",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "NEU",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -144,
        560
      ],
      "id": "c954f3e0-974d-4474-a3de-4f5a81576a39",
      "name": "nur-status-NEU"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"post_content\": \"...\",\n\t\"rating\": 1,\n     \"was_spricht_an\": \"...\",\n     \"was_fehlt\": \"...\",\n     \"verbesserung\": \"...\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2368,
        928
      ],
      "id": "c74a9d93-aa4c-4f1d-89b4-40013d3759f4",
      "name": "ausgabe-strukturieren"
    }
  ],
  "pinData": {
    "Webhook": [],
    "Bild-Prompt": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "Nano-banana, ultra-realistic, futuristic digital art. A central, glowing \"1 Prompt\" text string, radiating energy. From it, a turbulent stream of 7000 digital emails transforms into an orderly, high-speed data flow through a sleek, interconnected n8n pipeline. A luminous, transparent GPT-4o neural network hovers above, classifying data with precision. Above, a holographic display rapidly shows \"36h\" shrinking to \"4h\", flanked by \"40 hours saved\" and a \"-38% cost reduction\" symbol. A gentle, ethereal human hand lightly touches a segment of the data stream, representing intelligent fallback. Background: a blurred, modern Zurich office with subtle mountain views. Cool, tech-inspired lighting. Ultra-detailed, conceptual, minimalist power."
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0
        }
      }
    ],
    "Persona-Agent": [
      {
        "json": {
          "output": {
            "post_content": "40 Support­stunden pro Woche freigesetzt – mit 1 Prompt & n8n.  \n\n🛠️ Ausgangslage  \nEin Zürcher B2B-Fachhandel (25 Mitarbeitende, 12 Produktlinien) beantwortete 7 000 Kunden­mails/Jahr manuell. Antwortzeit: 36 h, Frustpegel: hoch.  \n\n⚡ Lösung  \n1️⃣ IMAP-Trigger leitet jede eingehende Mail in n8n.  \n2️⃣ GPT-4o klassifiziert die Anliegen in 4 Kategorien. Genauigkeit 96 % – gemessen auf 500 historisch gelabelten Tickets (F1-Score 0.94).  \n3️⃣ n8n sendet automatische Antworten mit persönlicher Signatur; Fachfälle werden direkt an die zuständige Person geroutet.  \n\n📈 Resultat 2025  \n• Antwortzeit: 36 h → 4 h  \n• Supportkosten: –38 %  \n• Teamzufriedenheit: +2,1 Punkte (interne Umfrage)  \n\n⚠️ Learning  \nDie ersten 3 % Fehlzuordnungen blockierten Nachbestellungen – deshalb jetzt Fallback-Logik: Tickets ohne 80 % Confidence gehen sofort an den Mensch.  \n\n💡 Take-away  \nSauber gemappter Prompt + einfaches Routing entlasten B2B-Support messbar – ohne neue Software oder zusätzliches Personal.  \n\n👉 Zwei Optionen für dich:  \n• «Workflow» kommentieren = Step-by-Step Playbook  \n• «Audit» kommentieren = gratis 15-min Support-Check  \n\n(Wir schicken dir das Gewünschte per DM.)",
            "rating": 9,
            "was_spricht_an": "• Zahlen, klare Before/After Stats, Impact sichtbar.\n• Validierung (Testsetup, F1-Score, echte Fehlerquellen und deren Handling genannt).\n• Kein Blabla – Story ist konkret, sofort testbar für Lean-Teams.\n• B2B-Fokus, Experiment- und Messbarkeit klar im Vordergrund.",
            "was_fehlt": "• Letzter Beweis: Wie sah der A/B-Test aus? Wurde parallel gegen den „alten Prozess“ gemessen?\n• Noch expliziter als Hypothese formulieren: \"Wir erwarten X\", gemessen an Y.\n• Mehr Mut zur Differenzierung in CTA – z.B. \"Wir zeigen dir – live mit deinen echten Daten\".",
            "verbesserung": "• Abschluss mit Hypothese/KPI für Transfer-Potenzial: \"Wir erwarten mindestens 30 % Reduktion der Supportkosten in jedem B2B-Team >5K Tickets/Jahr – Challenge us.\"\n• Weiteren, optionalen CTA testen: Einladung zu Live-Demo mit echten Cases aus dem Publikum."
          }
        }
      }
    ],
    "Content-Creator": [
      {
        "json": {
          "output": "40 Support­stunden pro Woche freigesetzt – mit 1 Prompt & n8n.  \n\n🛠️ Ausgangslage  \nEin Zürcher B2B-Fachhandel (25 Mitarbeitende, 12 Produktlinien) beantwortete 7 000 Kunden­mails/Jahr manuell. Antwortzeit: 36 h, Frustpegel: hoch.  \n\n⚡ Lösung  \n1️⃣ IMAP-Trigger leitet jede eingehende Mail in n8n.  \n2️⃣ GPT-4o klassifiziert die Anliegen in 4 Kategorien. Genauigkeit 96 % – gemessen auf 500 historisch gelabelten Tickets (F1-Score 0.94).  \n3️⃣ n8n sendet automatische Antworten mit persönlicher Signatur; Fachfälle werden direkt an die zuständige Person geroutet.  \n\n📈 Resultat 2025  \n• Antwortzeit: 36 h → 4 h  \n• Supportkosten: –38 %  \n• Teamzufriedenheit: +2,1 Punkte (interne Umfrage)  \n\n⚠️ Learning  \nDie ersten 3 % Fehlzuordnungen blockierten Nachbestellungen – deshalb jetzt Fallback-Logik: Tickets ohne 80 % Confidence gehen sofort an den Mensch.  \n\n💡 Take-away  \nSauber gemappter Prompt + einfaches Routing entlasten B2B-Support messbar – ohne neue Software oder zusätzliches Personal.  \n\n👉 Zwei Optionen für dich:  \n• «Workflow» kommentieren = Step-by-Step Playbook  \n• «Audit» kommentieren = gratis 15-min Support-Check  \n\n(Wir schicken dir das Gewünschte per DM.)"
        }
      }
    ],
    "Google Sheets Trigger": [
      {
        "json": {
          "row_number": 2,
          "change_type": "updated",
          "Idee": "n8n-Workflows mit GPT Atlas bauen",
          "Status": "neu",
          "Post-Entwurf": "",
          "Bild-Idee": ""
        }
      }
    ]
  },
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Content-Creator",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "test-thema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "fertig, oder ..? 🏁",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "setzeLoopWerte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "bereit?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rating-erreicht": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "maxIteration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing2": {
      "main": [
        [
          {
            "node": "Bild-Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nanoBanana": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bild-Prompt": {
      "main": [
        [
          {
            "node": "nanoBanana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wf-cosmetic": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "test-thema": {
      "main": [
        [
          {
            "node": "bereit?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "maxIteration": {
      "main": [
        [
          {
            "node": "setzeLoopWerte",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MergeDraft": {
      "main": [
        [
          {
            "node": "rating-erreicht",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI o3": {
      "ai_languageModel": [
        [
          {
            "node": "Content-Creator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "openAI gpt-4": {
      "ai_languageModel": [
        [
          {
            "node": "Persona-Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "persona-hirn": {
      "ai_memory": [
        [
          {
            "node": "Persona-Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "gpt-mini-strukturparser": {
      "ai_languageModel": [
        [
          {
            "node": "ausgabe-strukturieren",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "setErgebnis": {
      "main": [
        [
          {
            "node": "MergeDraft",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "setzeLoopWerte": {
      "main": [
        [
          {
            "node": "Content-Creator",
            "type": "main",
            "index": 0
          },
          {
            "node": "MergeDraft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content-Creator": {
      "main": [
        [
          {
            "node": "Persona-Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persona-Agent": {
      "main": [
        [
          {
            "node": "setErgebnis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "brand_briefing": {
      "ai_tool": [
        [
          {
            "node": "Content-Creator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "persona-briefing": {
      "ai_tool": [
        [
          {
            "node": "Persona-Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "fertig, oder ..? 🏁": {
      "main": [
        [
          {
            "node": "google-chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Idee-mit-Vorschlag-aktualisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idee-mit-Vorschlag-aktualisieren": {
      "main": [
        [
          {
            "node": "wf-cosmetic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bereit?": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "nur-status-NEU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nur-status-NEU": {
      "main": [
        [
          {
            "node": "bereit?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ausgabe-strukturieren": {
      "ai_outputParser": [
        [
          {
            "node": "Persona-Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1487dde5-b28d-48d2-941b-b5f26b94865a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7000b643921dab8bd21fd7fd625975bff66c2abcec80f5b011797753216c8f46"
  },
  "id": "arfofr2uLaLdwXlW",
  "tags": []
}